{% extends "base.html" %}

{% block title %}{{ recipe.name }} - Cookbook{% endblock %}

{% block content %}
<a href="../index.html" class="back-link">&larr; Back to Recipes</a>

<article class="recipe-content">
    <div class="recipe-header">
        <h1>{{ recipe.name }}</h1>
        <div class="recipe-meta">
            <span>Prep: {{ recipe.prep_time }}</span>
            <span>Cook: {{ recipe.cook_time }}</span>
            <span>Serves: {{ recipe.servings }}</span>
        </div>
        <p><em>{{ recipe.description }}</em></p>
    </div>

    <div class="ingredients">
        <h2>Ingredients</h2>
        <ul class="ingredients-list">
            {% for line in recipe.ingredients.split('\n') %}
            <li>{{ line }}</li>
            {% endfor %}
        </ul>
    </div>

    <div class="directions">
        <h2>Directions</h2>
        <div class="directions-text">{{ recipe.directions }}</div>
    </div>
</article>
{% endblock %}

